@page "/"
<h1>Welcome to the New York Times movie review search site!</h1>
<h2>Please feel free to search any movie you want to see a review for.</h2>
<h3>Developed by David Browne X00145679</h3>

@code {

}
